<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Calculadora</title>
	</head>

	<body>
		<h2>CALCULADORA</h2>
		<form action={{ url_for('result') }}  method="post">
		<label for="num_1">Ingrese un número:</label><br>
		<input type="number" class="form-control" name="num_1" placeholder="0"><br><br>
		<label for="num_2">Ingrese otro número:</label><br>
		<input type="number" class="form-control" name="num_2" placeholder="0"><br><br>
		<label>Seleccione la operación:</label><br>
        <select class="form-control" name="operacion">
            <option>Suma</option>
            <option>Resta</option>
            <option>Multiplicacion</option>
            <option>Division</option>
        </select><br><br>
		<input type="submit" class="btn btn-success" value="Resolver">
        <input type="reset" class="btn btn-danger" value="Borrar">
        </form>
	</body>
</html>