<!DOCTYPE html>
<html lang="es">
    <head>
        <title>RESULTADO</title>
    </head>

    <body>
        <h2>El resultado es</h2>
        <input type="text" name="result" disabled=True class="form-control" placeholder = {{ entry }}>
    </body>
</html>